* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
  }

.top-widget{
    display: flex;
}

.logo{
    display: flex;
}

.logo-right{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.inner{
    display: flex;
    width: 100px;
    justify-content: space-around;
    margin-right: 30px;
}

.search{
    display: flex;
    justify-content: left;
    background-color: rgb(31, 31, 31);
    color: white;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 40px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid darkgrey;
  }

.login{
    border: 0;
    margin: 0;
    cursor: pointer;
    float: right;
    background-color: #000;
}
    
.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px;
    color: white;
    --ggs:1.5;
    background-color: #000;
}

.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative;
}

.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
} 

.shopping-cart {
    border: 0;
    margin: 0;
    cursor: pointer;
    float: right;
    background-color: #000;
}

.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    color: white;
    --ggs: 1.5;
    background:
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat -1px 6px/18px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 6px 14px/11px 2px,
    linear-gradient(
    to left,currentColor 12px,
    transparent 0)
    no-repeat 0 2px/4px 2px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 12px 17px/4px 4px,
    radial-gradient(
    circle,currentColor 60%,
    transparent 40%)
    no-repeat 6px 17px/4px 4px
  }
  
  .gg-shopping-cart::after,
  .gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
  }
  
  .gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
  } 
  
  .gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
  }

.down{
    display: flex;
}

.left-sidebar{
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.filters{
    margin: 30px 30px 15px 25px;
    font-weight:bold; 
    font-size: xx-large;
    color:white
}

.gg-card-hearts {
    margin: 0px 30px 15px 25px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 28px;
    border: 2px solid white;
    border-radius: 3px
}
    
.gg-card-hearts::after,
.gg-card-hearts::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 10px;
    background: pink;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: rotate(45deg);
    left: 7px;
    top: 8px;
}

.gg-card-hearts::after {
    transform: rotate(-45deg);
    left: 4px
} 

.classification{
    margin: 20px 30px 15px 25px;
    font-weight:bold; 
    font-size: xx-large;
    color:white
}

.gg-arrow-long-right-r {
    margin: 0px 30px 15px 25px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 4px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 24px;
    height: 6px;
    color: white ;
}

.gg-arrow-long-right-r::after,
.gg-arrow-long-right-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-arrow-long-right-r::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px
}

.gg-arrow-long-right-r::before {
    width: 6px;
    height: 6px;
    border: 2px solid;
    transform: rotate(45deg);
    left: -5px;
    bottom: -2px
} 

.main-widget{
    display: flex;
}

.review-photo{
    display: flex;
    margin: 30px 37px 0 37px;
}

.review{
    width: 215px;
    height: 215px;
    border-radius: 10px;
    margin: 20px 27px 0px 27px;
}
    
.review:hover{
    transform: scale(1.05)
}

.btn-plus{
    position: relative;
    border: 0;
    padding: 10px;
    margin: 0 20px 0 20px;
    cursor: pointer;
    background-color: #000;
}

.gg-math-plus,
.gg-math-plus::after {
  display: block;
  box-sizing: border-box;
  background: currentColor;
  border-radius: 10px;
  color: white;
  --ggs:1.5;
}

.gg-math-plus {
  margin-top: -2px;
  position: relative;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 2px
}

.gg-math-plus:hover{

}

.gg-math-plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  top: -7px;
  left: 7px
} 

.btn-readme{
  position: relative;
  border: 0;
  padding: 10px;
  margin: 0 20px 0 20px;
  left: 99px;
  top: 5px;
  cursor: pointer;
  background-color: #000;
}

.gg-readme {
  display: block;
  position: relative;
  box-sizing: border-box;
  transform: scale(var(--ggs,1));
  width: 2px;
  height: 17px;
  border-bottom: 4px solid;
  border-radius: 4px;
  color: white;
  --ggs:1.5;
  background-color: currentColor;
  }
  
.gg-readme::after,
.gg-readme::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 12px;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    bottom: -1px;
    background:
    linear-gradient(to left,
    currentColor 4px,transparent 0)
    no-repeat center 5px/4px 2px,
    linear-gradient(to left,
    currentColor 4px,transparent 0)
    no-repeat center 2px/4px 2px,
    linear-gradient(to left,
    currentColor 4px,transparent 0)
    no-repeat center 8px/4px 2px
}
  
.gg-readme::before {
    border-top-right-radius: 3px;
    left: -8px
}
  
.gg-readme::after {
    border-top-left-radius: 3px;
    right: -8px
}
